@model IEnumerable<Info_Net.Models.Publication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class = "btn btn-default", target = "_blank" })
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Imagen))
			{
				<img src="@Url.Content(item.Imagen)" alt="Imagen" style="width:100px;height:150px;max-width: 100%; height: auto;" />
			}

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Publication_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Publication_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Publication_id })
        </td>
    </tr>
}

</table>
